@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{

  --primary-white: #ffffff;
  --primary-light-grey: #40688f41;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-green: #39ff14;
  --primary-dark: rgb(52,58, 64);
  --primary-red: #ff0000;
  --primary-hover-red: #f33501; 
  --primary-blue: #00285E; 
  --primary-transparent-black: rgba(0,0,0,0.7);
  --primary-transparent-blue: rgba(0, 1, 1, 0.7);
  --primary-black: rgba(0, 0, 0, 0.951);

  /* --primary-blue: #0053BC; */
}

.bg-black {
  background-color: var(--primary-black);
}

body {
  font-family: "Roboto Condesed", sans-serif; 
}
/*************************** Deyo NAVBAR *******************/

nav {
  z-index: 2;
}
.logo {
  width: 16.25rem;
}

/*************************** MENU LINKS *******************/

nav a.nav-link {
  font-size: .8rem;
  letter-spacing: 0.038rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 7rem !important;
}

@media(max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}

.navbar-nav > li > a.active,  .navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-green);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-red);
}

/*************************** Deyo Header *******************/

.header-wrapper {
  position: relative;
  background: url(./me.png) no-repeat;
  background-color:var(--primary-transparent-blue);
  background-attachment:fixed;
  background-size: 60vh;
  background-position: right bottom;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: -400px;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-family: "Robota Condesed", sans-serif; */
  z-index: 1;
}

@media(max-width: 1285px) {
  .header-wrapper {
    position: relative;
    background: url(./me.png) no-repeat;
    background-color:var(--primary-dark-grey);
    background-position: bottom;
    height: 90vh;
  }

  .main-info {
    display: flex;
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    z-index: 1;
  }
  
  .typed-text {
    font-size: 1rem !important; 

  }
}

@media(max-width: 768px) {
  .header-wrapper {
    position: relative;
    background: url(./me.png) no-repeat;
    background-color:var(--primary-dark-grey);
    background-position: bottom;
    height: 90vh;
  }

  .main-info {
    display: flex;
    position: absolute;
    top: 450px;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    z-index: 1;
  }
  
  .typed-text {
    font-size: 1.3rem !important; 

  }
}


@media(max-width: 468px) {
  .header-wrapper {
    position: relative;
    background: url(./me.png) no-repeat;
    background-color:var(--primary-dark-grey);
    background-size: 50vh;
    background-position: bottom;
    height: 90vh;
  }

  .main-info {
    display: flex;
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    z-index: 1;
  }
  
  .typed-text {
    font-size: 1.3rem !important; 

  }

}

@media(max-width: 320px) {
  .header-wrapper {
    position: relative;
    background: url(./me.png) no-repeat;
    background-color:var(--primary-dark-grey);
    background-size: 300px;
    background-position: bottom;
    height: 90vh;
  }

  .main-info {
    display: flex;
    position: absolute;
    top: 290px;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
    z-index: 1;
  }
  
  .typed-text {
    font-size: 1.1rem !important; 

  }

}

.main-info h1 {
  color: var(--primary-green);
  text-transform: uppercase;
}

h2 .outline-text {
  font-size: 90px;
    display: block;
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: transparent;
}

@media(max-width: 768px) {
  h2 .outline-text {
    font-size: 32px;
      display: block;
      -webkit-text-stroke: 1px #fff;
      -webkit-text-fill-color: transparent;
  }
}

/*************************** Typed text *******************/

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem !important; 
  }
  .typed-text {
    font-size: 1.3rem !important; 

  }
}

/*************************** Header main offer button *******************/

.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem ;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration:none;
  background-color: var(--primary-hover-red);
  transition: .2s ease-in-out;
  color: var(--primary-white);
}

.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}

/*************************** About me *******************/

.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: "16rem";
  border-radius: 50%;
  padding: .3rem;
  border: 1px solid var(--primary-green);
}

.about-heading {
  /* color: var(--primary-green); */
  color: #00285E;
  text-transform: uppercase;
}

@media(max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}


/*************************** SERVICES / Methodology Program *******************/

.services {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-light-grey);
}

.services h1 {
  /* color: var(--primary-dark); */
  /* color: rgba(3, 169, 252); */
  color: #00285E;
  text-transform: uppercase;
}

.services .circle {
  position: relative;
  margin: 0.375rem auto;
  /* background: rgba(3, 169, 252); */
  /* background: var(--primary-green); */
  background: var(--primary-blue); 
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}

.services .icon {
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-color: 3px #00285E;;
}

.services .box {
  height: 16rem;
  /* border-bottom: 0.3125rem solid var(--primary-green); */
  border-bottom: 0.3125rem solid var(--primary-blue); ;
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  background: var(--primary-white);
  transition: 0.3s ease-in-out;
}

.services .box:hover {
  background: var(--primary-green);
  border-bottom: 0.3125rem solid var(--primary-blue); ;
}

.services .box:hover .icon {
  color: #00285E;
  /* color: rgba(3, 169, 252);  - just example*/ 
}

.services .box:hover .circle {
  background: var(--primary-white);
}
.services .box:hover p {
  color: var(--primary-white);
}

/************************ EXPERIENCE *********************************/

.experience {
  padding: 0.7rem;
}

.experience-wrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.experience h1 {
  text-transform: uppercase;
  color: var(--primary-blue);
}

.experience-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-green);
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}


.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;;
  border: 0.3125rem solid var(--primary-dark);
  background: var(--primary-green);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-dark-grey);
  direction: ltr;
}

.timeline-content h3 {
  margin-top: 0.3125rem;
  color: var(--primary-blue);
  font-weight: 900;
}

/*------------ MEDIA ------------------*/
@media(max-width: 768px) {
.experience .container {
  padding-left: 0;
}

  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }
  
  .timeline-block-left {
    float: none;
    direction: ltr; 
    width: 100%;
  }
}

/************************ PORTFOLIO *********************************/
.portfolio-wrapper {
  padding: 3rem 0;
  position: relative;
  background: var(--primary-light-grey) url(./images/me2.png) no-repeat;
  background-size: 240px;
  background-position: right bottom;
}

.portfolio-wrapper h1 {
  color: var(--primary-blue);
}

.portfolio-image {
  width: 15rem;
  border: 1px solid var(--primary-blue);
  padding: 0 0.5rem;
}

.portfolio-image-box {
  position: relative;
  margin: 1rem;
}


/*------------ OVERFLOW BOX ------------------*/
.overflow {
  position: absolute;
   opacity: 0;
   background: var(--primary-black);
   width: 15rem;
   height: 8rem;
   top: 0;
  border: 2px solid var(--primary-green);
  cursor: pointer;
}

/* .a div.overflow:hover {
  opacity: 60%;
  transition: 0.3s ease-in-out;
} */

.portfolio-image-box:hover .overflow {
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

.portfolio-icon {
  position: absolute;
  opacity: 0;
  margin-left: -8rem;
  margin-top: 3.6rem;
  color: var(--primary-green);
  font-size: 1.5rem;
}

.portfolio-image-box:hover .portfolio-icon {
  opacity: 70%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

/*------------ OVERFLOW BOX ------------------*/
.portfolio-image-popupbox {
  width: 45rem;
  padding: 0 0.5rem;
}

.hyper-link {
  cursor: pointer; 
  color: var(--primary-green);
}

.hyper-link:hover {
  color: var(--primary-red);
}

/*------------ MEDIA ------------------*/
@media(max-width: 768px) {
  .portfolio-image-popupbox {
    width: 100%;
  }
}

@media(max-height: 570px) {
.popupbox-wrapper {
  height: 100%;
}
  .portfolio-image-popupbox {
    width: 50%;
  }
}

@media(max-height: 280px) {
  .popupbox-wrapper {
    height: 90%;
  }
    .portfolio-image-popupbox {
      width: 30%;
    }
  }

  /************************ TESTIMONIALS *********************************/
.testimonials {
  position: relative;
  background: url(./me.png) no-repeat;
  background-color:var(--primary-transparent-blue);
  background-size: 540px;
  background-position: right bottom;
  height: 100vh;

  /* background-image: url(me.png); */
  /* background-size: cover; */
  /* background-position: right; */
  /* background-position-y: center; */
  /* background-color: var(--primary-transparent-black); */
  text-align: center;
  padding-bottom: 4rem;
  margin-bottom: 0;
  width: 100%;
}

.testimonials h1 {
  color: var(--primary-green);
  padding: 3rem 0;
  text-transform: uppercase;
}

.testimonials-content {
  text-align: center;
  max-width: 53.125rem;
  margin: 0 auto 2rem auto;
  background: var(--primary-transparent-black); 
}

.myCarousel {
  color: var(--primary-white);
  background: transparent;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  height: 17.875rem;
}

.myCarousel h3 {
  color: var(--primary-green);
  font-weight: 600;
  text-transform: uppercase;
}

.myCarousel p {
  color: var(--primary-grey);
}

.carousel .slide img {
  width: 10rem !important;
  border-radius: 50%;
}

.carousel .slide {
  background: transparent !important;
  height: 100% !important;
  padding-top: 2rem;
}

.carousel-root {
  margin: auto !important;
  margin-top: 3% !important;
}

/************************ CONTACTS COMPONENT *********************************/
.contacts {
  background: var(--primary-dark);
  padding: 3rem 0;
}

.contacts h1 {
  color: var(--primary-green);
  padding: 1.3rem 0;
  text-transform: uppercase;
}

.contacts .p {
  color: var(--primary-white);
}

.contacts p {
  color: var(--primary-light-grey);
  font-size: 1.2rem;
}

.btn-contact-offer {
  border: 1px solid var(--primary-grey);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem ;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-contact-offer:hover {
  text-decoration:none;
  background-color: var(--primary-green);
  color:var(--primary-blue);
  border: 1px solid var(--primary-blue);
  transition: .2s ease-in-out;
}



/*------------------ INPUTS -------------------------------*/
.contacts input, .contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid var(--primary-dark-grey);
  border-radius: 0;
  color: var(--primary-green);
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.contacts .container {
  padding: 4rem 0;
}

.contacts input:focus, .contacts textarea:focus {
  background: transparent;
  color: var(--primary-green);
  border-bottom: 0.125rem solid var(--primary-dark-grey);
}

.contacts textarea {
  height: 12.2rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
}

.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: var(--primary-red);
  display: inline-block;
}

input:focus+.line, textarea:focus+.line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control {
  margin: -0.3rem 0;
}

textarea.form-control {
  margin: -0.3rem 0;
}

.error-message {
  color: var(--primary-white);
  background: var(--primary-hover-red);
  text-align: left;
}

.success-message {
  font-weight: 900;
  color: var(--primary-green);
}

/*---------------- MEDIA -----------------------*/
@media(max-width: 768px) {
  .contacts {
    overflow-x: hidden;
  }
  
  .contacts .container {
    padding: 0 1rem;
  }

  .contacts p {
    padding: 0 0.4rem;
  }
}

/************************ FOOTER COMPONENT *********************************/
.footer {
  background: var(--primary-blue);
  color: var(--primary-white);
  padding: 3rem;
}

.footer a {
  text-decoration: none;
  color: var(--primary-white);
}

.footer a:hover {
  text-decoration: none;
  color: var(--primary-orange);
  cursor:pointer;
}

.footer p {
  margin-bottom: 0;
  padding: 0.5rem;

}

/* -----------------Fade in up------------------------*/
@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

@-webkit-keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}




